# Node modules (backend and frontend)
# Node modules (backend + frontend)
backend/node_modules/
frontend/node_modules/

# Environment variables
#backend/.env
#frontend/.env

# React build output
frontend/build/

# Logs
*.log

# OS & editor files
.DS_Store
.vscode/
